* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: none;
}

body {
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  overflow: none;
}

p {
  font-family: 'Courier New', Courier, monospace;
}


.weather-container {
  padding: 5% 2% 2% 4%;
}


.weather-summary {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

.current-condition {
  font-size: 90px;
}

.left {
  display: grid;
  gap: 10px;
}

.temp-oversize {
  font-size: 80px;
}

.change-display {
  cursor: pointer;
  font-size: 12px;
}

.left .input {
  border-bottom: 1px solid white;
  padding: 3px 10px;
  width: 210px;
  display: flex;
}

.left input {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: bolder;
  font-size: 13px;
}

.left input::placeholder {
  font-weight: bolder;
  font-size: 13px;
}

.right {
  display: grid;
  gap: 30px;
}


.right div {
  display: flex;
  gap: 15px;
}

.right div div {
  display: grid;
}



.summary-icon i {
  font-size: 100px;
}

.icon {
  font-size: 50px;
}

.forecast-section {
  margin-top: 9vh;
}

.forecast-section .forecast-nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-bottom: 20px;
  margin-left: 4.5%;
  font-weight: bolder;
  font-size: 13px;
}

.forecast-nav li {
  cursor: pointer;
  padding: 5px 10px;
}

.forecast-nav li:hover {
  border: solid white;
  
}

.forecast {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

.forecast .forecast-card {
  display: grid;
  gap: 10px;
}